aside {
  position: relative;

  h1 {
    color: var(--gray);
    margin: 0.5rem 1rem;
  }

  .progress {
    display: flex;
    justify-content: center;
    gap: 2rem;

    p {
      font-size: var(--sm);
      color: var(--dark);
    }

    .progressBar {
      width: 8rem;
      padding: 0;
    }
  }

  .add {
    display: flex;
    align-items: center;
    justify-content: center;

    .addButton {
      width: 3rem;

      &:hover {
        width: 3.1rem;
        cursor: pointer;
      }
    }

    h2 {
      margin-left: 1rem;
      font-size: var(--lg);
    }
  }
}

@media (min-width: 992px) {
  aside {
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
      color: var(--gray);
      margin-left: 1rem;
    }

    .progress {
      display: flex;
      align-items: center;
      gap: 5rem;
      padding: 2rem;

      p {
        font-size: var(--md);
        color: var(--dark);
      }

      .progressBar {
        width: 16rem;
        padding: 0;
      }
    }

    .add {
      display: flex;
      align-items: center;
      justify-content: center;

      .addButton {
        width: 3rem;

        &:hover {
          width: 3.1rem;
          cursor: pointer;
        }
      }

      h2 {
        margin-left: 1rem;
        font-size: var(--lg);
      }
    }
  }
}
