aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
  position: relative;

  h1 {
    color: var(--gray);
    margin-left: 1rem;
  }

  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;

    p {
      font-size: var(--md);
      color: var(--dark);
    }
  }

  .add {
    display: flex;
    align-items: center;
    justify-content: center;

    .addButton {
      width: 3rem;

      &:hover {
        width: 3.1rem;
        cursor: pointer;
      }
    }

    h2 {
      margin-left: 1rem;
      font-size: var(--lg);
    }
  }
}
